USE [master]
GO
/****** Object:  Database [AgenciaCrud2]    Script Date: 20/12/2021 20:21:22 ******/
CREATE DATABASE [AgenciaCrud2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgenciaCrud2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AgenciaCrud2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgenciaCrud2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AgenciaCrud2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgenciaCrud2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgenciaCrud2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/12/2021 20:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 20/12/2021 20:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Cidade] [nvarchar](max) NULL,
	[Estado] [nvarchar](max) NULL,
	[Descrição] [nvarchar](max) NULL,
 CONSTRAINT [PK_Destino] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocao]    Script Date: 20/12/2021 20:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DestinoID] [int] NOT NULL,
	[Saida] [nvarchar](max) NULL,
	[Retorno] [nvarchar](max) NULL,
	[Valor] [real] NOT NULL,
 CONSTRAINT [PK_Promocao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211219155832_Mig1', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211220230526_mig3', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211220231032_mig4', N'5.0.12')
GO
SET IDENTITY_INSERT [dbo].[Destino] ON 

INSERT [dbo].[Destino] ([Id], [Nome], [Cidade], [Estado], [Descrição]) VALUES (1, N'Cachoeira do Congonhal', N'Cambuquira', N'SP', N'Pão de Queijo')
INSERT [dbo].[Destino] ([Id], [Nome], [Cidade], [Estado], [Descrição]) VALUES (2, N'Praia Mauá', N'Magé', N'Rio ', NULL)
SET IDENTITY_INSERT [dbo].[Destino] OFF
GO
SET IDENTITY_INSERT [dbo].[Promocao] ON 

INSERT [dbo].[Promocao] ([Id], [Name], [DestinoID], [Saida], [Retorno], [Valor]) VALUES (1, N'MilhaMil', 2, N'08/09/22', N'09/10/22', 3000)
INSERT [dbo].[Promocao] ([Id], [Name], [DestinoID], [Saida], [Retorno], [Valor]) VALUES (2, N'MilhaMil', 1, N'09/06/21', N'09/10/22', 2000)
SET IDENTITY_INSERT [dbo].[Promocao] OFF
GO
/****** Object:  Index [IX_Promocao_DestinoID]    Script Date: 20/12/2021 20:21:22 ******/
CREATE NONCLUSTERED INDEX [IX_Promocao_DestinoID] ON [dbo].[Promocao]
(
	[DestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Promocao]  WITH CHECK ADD  CONSTRAINT [FK_Promocao_Destino_DestinoID] FOREIGN KEY([DestinoID])
REFERENCES [dbo].[Destino] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promocao] CHECK CONSTRAINT [FK_Promocao_Destino_DestinoID]
GO
USE [master]
GO
