@{
    ViewData["Title"] = "Home Page";
}

<div class="info text-center">

    <h1 class="display-4">Corta Caminho</h1>
    <p>Clique Aqui!! <a href="https://www.youtube.com/channel/UC_s6lPHmcwshOyB8FlFNO0A">O Jeito Facil de Cair No Mundão</a>.</p>
</div>
