@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Fale Com a Gente</h1>

<ul class="list-group">
  <li class="list-group-item">cortacaminho@gmail.com</li>
  <li class="list-group-item">Tel:(35)98900000</li>
  <li class="list-group-item">Rua Dos Desajustados, Aleatório- MG</li>
  
</ul>
            

